/*   GLOBAL   */
:root {
    --clr-bg: #b7dbff;
    --clr-dark: #191919;
    --clr-bg2: #b4dbaf;
    --clr-hover: #f7f7f7;
}

/* 	HEADER  */
header {
	padding: 20px;
	display: flex;
	justify-content: space-between;    
    border-bottom: 3px double black;
    background: linear-gradient(to left,var(--clr-bg), 30%, white 75%);
}

#header1{
    display: flex;
}

#header1 img{
    margin: auto;
    width: 10vw;
    max-width: 150px;   
    min-width: 100px;
    height: auto;
}

#header2{
	display: flex;
    flex-direction: column;
}

#header2 div{
	margin: 5px;
}

#header21{
    display: flex;
    align-items: center;
}

#header212{
    font-size: larger;
    font-weight: 700;
}

/*  BODY   */
body{
    margin: 1em 16.66%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.content{
    width: auto;
    padding: 0em 1em 0em 1em;
} 

/* bloc presentation */
#presentation{
    border-bottom: 3px double black;
}

.presentation2{
    width: 100%;
	display: grid;											
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;	
	grid-template-rows: auto;								
	grid-gap: 0px;											
	grid-template-areas: 
	"lbp bnp bpce cic ca sg";
}

.presentation2 div{
	width: 100%;
	display: flex;
}

.presentation2 div img{
	width: 100%;
	align-self: center;
	max-width: 200px;
}

.item-1{
	grid-area: lbp;
}

.item-1{
	grid-area: bnp;
}

.item-1{
	grid-area: bpce;
}

.item-1{
	grid-area: cic;
}

.item-1{
	grid-area: ca;
}

.item-1{
	grid-area: sg;
}

#presentation2 img{
	margin: auto;
    max-width: 100%;
    border-radius: 5px;
}

/*  partners    */
#partners{
    margin-top: 2em;
}

#comments{	
	padding: 10px;
	display: flex;
    flex-direction: column;
}

#headerComments{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#btn-comment{
    align-self: center;
}

#block-btn{
    display: flex;    
    justify-content: flex-end;  
    flex-wrap: wrap;  
}

#review-btn{
    display: flex;
    padding: 0em 1em;
}

.comment{
    margin: 1em 0em;
    padding: 1em;
    border: 3px solid black;
    border-radius: 4px;
    box-shadow: 5px 2px 3px black;
}

.partnerIcon{
	max-width: 200px;
    min-width: 100px;
    border-radius: 4px;
}

.partner{	
	display: flex;
    margin: 1em 0em;
    box-shadow: 5px 2px 3px black;
    border-radius: 4px;
    background: linear-gradient(to left, var(--clr-bg2), white 80%);
}

.partner1{
    align-self: center;
}

.partner2{    
    display: flex;
    flex-grow: 2;
    flex-direction: column;	
}

.partnerText{
	padding: 10px;
	flex-grow: 2;
    text-align: justify;
}

.partnerBtn{
    align-self: flex-end;   
}

#partnerInfos{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 1em;
}

#partnerLogo{
    margin: auto;
}

#partnerLogo img{
    width: 50vw;
    max-width: 300px;
    min-width: 200px;
}

#newComment{
    display: none;
}

#avatar-form{
    margin: 1em 0em;
}

.avatar-box{
    display: flex;
}

#avatar{
    margin: auto;
    max-width: 200px;
    border-radius: 50%;
}

/* 	FOOTER  */
footer {
    margin-top: 1em;
	padding: 2em;
    text-align: center;
    border-top: 3px double black;
    background: linear-gradient(to top left, var(--clr-bg), 70%, white);
}

footer a{    
    padding: 1em;    
}

/*   FORM   */

.lbl-like{
    background-color: #6ab860;
    padding:  12px 16px;
    border-radius: 4px;
}

.lbl-dislike{
    background-color: #d33e62;
    padding:  12px 16px;
    border-radius: 4px;
}

.btn-hidden{
    display: none;
}

.btn{
    color: black;
    margin: 1em 1em;
	padding: 12px 16px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 5px 2px 3px black;
    cursor: pointer;
}

.btn-primary{
	background-color: #1088ff;
}

.btn-primary:hover{
    color:var(--clr-hover);
	background-color: #0c6ccc;
}

.btn-danger{
	background-color: #c80f3b;	
}

.btn-danger:hover{
    color:var(--clr-hover);
	background-color: #a00c2f;	
}

.btn-success{
	background-color: #45a739;
}

.btn-success:hover{
    color:var(--clr-hover);
	background-color: #3e9633;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0em;    
    width: auto;    
}

.form-control {
    margin: 1em 0em;
    width: auto;
    border: 3px solid lightblue;
}

.form-1{
    padding: 1em;
    border:none;
    border-radius: 4px;
    box-shadow: 5px 2px 3px black;
    background: linear-gradient(to top left, var(--clr-bg2), white);
}

input{
    width: auto;
    padding: 1em;
    border-radius: 4px;
}

.alert{
    margin: 1em;
    padding: 1em;
    border-radius: 4px;
}

.alert-danger{
    border: 3px double #c80f3b;
    background-color: #de6f89;
}

.button{    
    padding: 12px 16px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 5px 2px 3px black;
    cursor: pointer;
}

.button:hover{
    color: var(--clr-hover);
}

.disabled-vote{
    border: 4px solid black;
}

.disabled-post{
    border: 4px solid black;
}

/*  RESPONSIVE    */
@media screen and (max-width:950px){    /*  TABLETTE    */
    body{
        margin: 0em 5%;
    }

    #partnersText{
        margin: 0em 5%;
    }

    .partner2{
        display: flex;
        flex-direction: column;
    }

    #block-btn{
        display: flex;
        flex-direction: column;
    }

    #review-btn{
        margin: auto;            
    }

    .presentation2{
		width: 100%;
		display: grid;											
		grid-template-columns: 1fr 1fr 1fr;	
		grid-template-rows: auto auto;							
		grid-gap: 0px;	
		grid-template-areas: 
		"lbp bnp bpce "
		"cic ca sg";
	}
}