header{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, grey, 10%, white 50%);
}

#header1{
    align-self: center;
}

#header2{
    margin: auto;
}

body{
    width: 90%;
}

.partner{
    flex-direction: column;
    background: linear-gradient(to top, #b4dbaf, white 60%);
}

.partnerIcon{
    max-width: 100%;
}

.btn{
    box-shadow: 2px 5px 3px black;
}

#review-btn{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}